* {
    margin: 0;
    padding: 0;
}

.fundo {
    background: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/9c75a48e-f51e-4fd4-bdac-7524a1f06282/deqfey1-31688c4b-3e74-414f-af1c-0eb61b29a8e6.gif?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzljNzVhNDhlLWY1MWUtNGZkNC1iZGFjLTc1MjRhMWYwNjI4MlwvZGVxZmV5MS0zMTY4OGM0Yi0zZTc0LTQxNGYtYWYxYy0wZWI2MWIyOWE4ZTYuZ2lmIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.SdDnP-PbVARCEkFObeBNdwEfRd9jIAKDHQZOywhgQ8g);
    background-size: ;
    height: 100vh;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.Calculadora {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 15px;
    padding: 15px;
}

.Botão {
    width: 50px;
    height: 50px;
    font-size: 25px;
    cursor: pointer;
    background-color: rgb(31, 31, 31);
    border-radius: 10px;
    border: none;
    color: #fff;
    margin: 3px;
}

.Botão:hover {
    background-color: black;
}

#Resultado {
    width: 207px;
    background-color: #fff;
    border-radius: 10px;
    height: 30px;
    margin: 5px;
    font-size: 25px;
    margin-left: 10px;
    color: black;
    text-align: right;
    padding: 5px;
}